@model IEnumerable<Real_Estate.Models.PropertyTypes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="C:\Users\COLLABERA\Desktop\Capstone01\Real_Estate\wwwroot\css\site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<style>
    h2 {
        text-align: center;
        padding: 20px 0;
    }

    .table-bordered {
        border: 1px solid #ddd !important;
    }

    table caption {
        padding: .5em 0;
    }

    table caption {
        display: none;
    }


    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    td {
        color: #ffff;
    }

    th {
        color: #ffff;
    }
</style>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<body class="PropertyListBody">
    <h1 class="whiteText" style="text-align:center;">Property Types</h1>

    <p>
        <button> <a class="whiteText" asp-action="Create">Create New</a></button>

    </p>

    <table>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                                    <th data-priority="1">@Html.DisplayNameFor(model => model.Description)s</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <button><a asp-action="Edit" asp-route-id="@item.Id" class="whiteText">Edit</a></button>
                                            <button><a asp-action="Details" asp-route-id="@item.Id" class="whiteText">Details</a></button>
                                            <button><a asp-action="Delete" asp-route-id="@item.Id" class="whiteText">Delete</a></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!--end of .table-responsive-->
                </div>
            </div>
        </div>
    </table>
    </body>
