@model ApplicationUser

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h1>User Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Name : @Model.Name</h5>
        <p class="card-text">Age : @Model.Age</p>
        <p class="card-text">Date of Birth : @Model.DOB</p>
        <p class="card-text">Address : @Model.Address</p>
        <p class="card-text">Phone Number : @Model.PhoneNumber</p>
        <p class="card-text">Url Image : @Model.UrlImages</p>
        <p class="card-text">User Name : @Model.UserName</p>
        <p class="card-text">Email : @Model.Email</p>
        <a asp-controller="Users" asp-action="GetAllUsers" class="card-link">Back to list</a>
    </div>
</div>*@

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    @*    <link href="~/css/site.css" rel="stylesheet" />*@
    <!--Stylesheet-->

</head>

<body class="login-register-Body">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <h3 class="whiteText">Details of User</h3>

                <label for="username" class="whiteText">Full Name:</label>
                <h2 class="whiteText">@Model.Name</h2>

                <label for="password" class="whiteText">Age:</label>
                <h2 class="whiteText">@Model.Age</h2>

                <label for="password" class="whiteText">Date of Birth:</label>
                <h2 class="whiteText">@Model.DOB</h2>

                <label for="password" class="whiteText">Phone Number:</label>
                <h2 class="whiteText">@Model.PhoneNumber</h2>

                <label for="password" class="whiteText">Address:</label>
                <h2 class="whiteText">@Model.Address</h2>

                <label for="password" class="whiteText">URL Image:</label>
                <h2 class="whiteText">@Model.UrlImages</h2>

                <label for="password" class="whiteText">Email:</label>
                <h2 class="whiteText">@Model.Email</h2>

                <label for="password" class="whiteText">User Name:</label>
                <h2 class="whiteText">@Model.UserName</h2>

                <div class="buttonDiv">
                    <button asp-controller="Users" asp-action="GetAllUsers" class="whiteText">Back to List</button>
                </div>
            </form>
        </div>
    </div>
</body>
