@model Real_Estate.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container py-5">
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                <img src="@Html.DisplayFor(model => model.UrlImages)"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <h5>  @Html.DisplayFor(model => model.Name)</h5>
                            <di class="mb-2 text-bg-black ">
                                <span><b class="text-danger">Sale: </b> <b class="text-black">₱@Html.DisplayFor(model => model.PriceifSale)</b> </span>
                                <span><b class="text-danger">Rent: </b> <b class="text-black">₱@Html.DisplayFor(model => model.PriceifRent)</b> </span>
                            </di>
                            
                            <div class="mt-1 mb-0 text-muted">
                                <p>Owner: @Html.DisplayFor(model => model.owner.Name)</p>
                                <p>
                                    Address: @Html.DisplayFor(model => model.Address)
                                </p>
                            </div>
                            <div class="mb-2 text-muted small">
                                <span>Unique design</span>
                                <span class="text-primary"> • </span>
                                <span>For men</span>
                                <span class="text-primary"> • </span>
                                <span>Casual<br /></span>
                            </div>
                            <p class="text-truncate mb-4 mb-md-0">
                                @Html.DisplayFor(model => model.Description)
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-outline-primary btn-sm mt-2" type="button"> <a asp-controller="Appointments" asp-action="Create"> Set Appointment</a> |</button>
                                <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                                    <a asp-action="Properties">Back to List</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>

   
