@model IEnumerable<Real_Estate.Models.Property>

@{
    ViewData["Title"] = "Index";
}
<style>


</style>
<header>
 <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</header>
<body>
<h1>Property</h1>
 <form class="searchbar" method="get" asp-action="Index">
        <div class="form-group1" style="display:flex;align-items: flex-end; ">
                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                 <button type="submit" style="padding:10px; margin-left:10px;"><i class="fa fa-search"></i></button>
            </div>
        </form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceifSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceifRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceifSale)
            </td>
                  
            <td>
                @Html.DisplayFor(modelItem => item.PriceifRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
